!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Recommend-product
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    .wrapper
      -if user_signed_in?
        .header
          .header__left
            =link_to "Recommend-product",root_path,class: "index__title"
          .search__top
            -# = form_tag(search_products_path,method: :get) do
            -#   = text_field_tag :keyword, nil,class:"search__field",placeholder:"タイトルで探す"
            -#   = submit_tag 'Search', name: :nil,class:"search__bottun"
          .header__right       
            =link_to "新規投稿","/products/new",class: "list"
            =link_to "ログアウト",destroy_user_session_path, class:"list",method: :delete
            =link_to "動画削除", "/users",class:"list"
            =link_to "購入履歴", "/users/#{current_user.id}/history",class:"list"
        
      -else
        .header
          .header__left
            =link_to "Recommend-product",root_path,class: "index__title"
          .search__top
            -# = form_tag(search_products_path,method: :get) do
            -#   = text_field_tag :keyword, nil,class:"search__field",placeholder:"タイトルで探す"
            -#   = submit_tag 'Search', name: :nil,class:"search__bottun"
          .header__right
            %ul
              %li
                =link_to "ログイン", new_user_session_path,class:"list"
              %li 
                =link_to "新規登録", signup_index_path,class:"list"
      = yield